<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Cat Chase</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <h1 class="title">Cat Chaser</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      <div class="login-nav">
      {% if not g.user or not g.user.is_authenticated() %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
      </div>
      {% block body %}{% endblock %}
</body>
</html>
